@model MVCWarehousingSystem.ViewModels.StockItems.CreateMultipleVM

@{
    ViewBag.Title = Model.Title;
}

<h2>The following articles have been @Model.ActionName:</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().ArticleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().Name)
        </th>
   <th>
            @Html.DisplayNameFor(model => model.Items.First().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().ShelfPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().Description)
        </th>
    </tr>

@foreach (var item in Model.Items) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
   <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShelfPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
    </tr>
}

</table>

@Html.Partial("_BackToListPartial")